In [ ]:
import numpy as np
import pandas as pd

## int, float, bool, string
## list, tuple, set, dictionary
## file

In [ ]:
#Comparison Operators

x = 15
y = 4

print ('x + y = ', x + y)
print ('x - y = ', x - y)
print ('x * y = ', x * y)
print ('x / y = ', x / y)
print ('x // y = ', x // y)
print ('x ** y = ', x ** y )

In [ ]:
#Comparison Operators

a = 21 
b = 10
c = 0

c = a + b
print("Line 1 - Value of c is ", c)

c += a
print("Line 2 - Value of c is ", c)

c *= a
print("Line 3 - Value of c is ", c)

c /= a
print("Line 4 - Value of c is ", c)

c = 2
c %= a
print("Line 5 - Value of c is ", c)

c **= a
print("Line 6 - Value of c is ", c)

c //= a
print("Line 7 - Value of c is ", c)

In [ ]:
#the difference between / and // operator results 

print(10/2)
print(10//2)

print(10/3)
print(10//3)

print(10/3.0)
print(10//3.0)

print(-10/3)
print(-10//3)

print(-10/3.0)
print(-10//3.0)

In [ ]:
#Comparison Operators

a = 21
b = 10
c = 0

if ( a == b ):
    print ("Line 1 - a is equal to b")
else:
    print ("Line 1 - a is not equal to b")

if ( a != b ):
    print ("Line 2 - a is not equal to b")
else:
    print ("Line 2 - a is equal to b")
    
if ( a < b ):
    print ("Line 3 - a is less than b")
else:
    print ("Line 3 - a is not less than b")

if ( a > b ):
    print ("Line 4 - a is greater than b")
else:
    print ("Line 4 - a is note greater than b")
    
a = 5
b = 20
if ( a <= b ):
    print ("Line 5 - a is either less than or equal to b")
else:
    print ("Line 5 - a is neither less than nor equal to b")

if ( b >= a ):
    print ("Line 6 - b is either greater than or equal to a")
else:
    print ("Line 6 - b is neither greater than nor equal to a")

In [ ]:
#string concatenation operator
name ='My Name is Mike'
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])
print(name[7])
print(name[8])
print(name[9])
print(name[-1])

In [ ]:
s = "Hello World!"

print(s)            #Prints complete string
print(s[0])         #Prints first character of the string
print(s[2:5])       #Prints characters starting from 3rd to 5th
print(s[2:])        #Prints string starting from 3rd character
print(s * 2)        #Prints string two times
print(s + "TEST")   #Prints concatenated string

In [ ]:
#Subsets of strings can be taken using the slice operator ([] and [:])
name ='My Name is Mike'
print(name[11:14])
print(name[11:15])

print("B" in name)
print("e" in name)
print(len(name))

In [ ]:
#Cone + cat + ten + ate

boo= "cone" + "cat" + "ten" + "ate"
print (boo) 

foo = "one"
bar = "two"
full = foo + " " + bar
print (full)

foo = "foo " * 3
print (foo)

In [ ]:
#Membership Operators

x = 'Hello world'
y = { 1:'a', 2:'b' }

#Output: True
print ('H' in x)

#Output: True
print ('hello' not in x)

#Output: True
print (1 in y)

#Output: False
print ('a' in y)

#Output: True
print ('a' in y.values())

## List, Tuple, Set, Dictionary

In [ ]:
#Lists are enclosed in brackets  [ ]  and their elements and size can be changed
alist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist =[123, 'john']

print(alist)              #Prints complete list
print(alist[0])           #Prints first elements of the list
print(alist[1:3])         #Prints elements starting from 2nd till 3rd
print(alist[2:])          #Prints elements starting from 3rd element  
print(tinylist*2)        #Prints list two times
print(alist + tinylist)   #Prints concatenated lists

In [ ]:
#Tuples are enclosed in parentheses ( ) and cannot be updated
atuple = ('abcd', 786, 2.23, 'john', 70.2)
tinytuple = (123, 'john')

print(atuple)              #Prints complete list
print(atuple[0])           #Prints first elements of the list
print(atuple[1:3])         #Prints elements starting from 2nd till 3rd
print(atuple[2:])          #Prints elements starting from 3rd element  
print(tinytuple*2)        #Prints list two times
print(atuple + tinytuple)   #Prints concatenated lists

In [ ]:
# Set
alist = [1, 2, 2, 3, 4, 5, 5, 5, 6]
s = set(alist)
print(s)

In [ ]:
#Data Types : Python DICTIONARIES

dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"

tinydict = { 'name':'john', 'code':6734, 'dept':'sales' }

print(dict['one'])        #Prints value for 'one'  key
print(dict[2])            #Prints value for 2 key
print(tinydict)           #Prints complete dictionary
print(tinydict.keys())    #Prints all the keys 
print(tinydict.values())  #Prints all the values 

#print a dictionary line by line
for x in tinydict:
    print (x, tinydict[x])

# Function Parameter Passing

In [ ]:
def add(x1, x2):
    y = x1 + x2
    return y

print(add(1, 2))

a, b = 3, 5
print(add(a, b))

In [ ]:
def do_something(x1):
    print('The input value is:', x1)
    print('The input value is: ' + str(x1))
    print('The input value is: {}'.format(x1))
    print('The input value is: {:,.2f}'.format(x1))
    
do_something(10000)

In [ ]:
a = 1

def fx01(x):
    x = 100
    print(x)
    
fx01(a)
print(a)

In [ ]:
a = 10.87

def fx01(x):
    x = 23.88
    print(x)
    
fx01(a)
print(a)

In [ ]:
a = True

def fx01(x):
    x = False
    print(x)
    
fx01(a)
print(a)

In [ ]:
l = [1, 2, 3]

def fx02(l):
    l.append(10)
    print(l)
    
fx02(l)
print(l)

In [ ]:
l = [1, 2, 3]

def fx03(l):
    l = l.copy()
    l.append(10)
    print(l)
    
fx03(l)
print(l)

# Advanced Operations

In [ ]:
# zip
a = ['Wilson', 'Peter', 'Mary']
b = [170, 180, 150]
c = ['1-Jan-1980', '20-May-1994', '18-Nov-2018']

result = list(zip(a, b, c))
print(result)

df = pd.DataFrame(result, columns=['Name', 'Height', 'Birthday'])
df

In [ ]:
# zip 

a = ['a', 'b', 'c']
b = [1, 2, 3]
c = [10, 20, 30]

# l = np.concatenate((a, b, c))
# l = l.reshape(3, 3)
# l = np.transpose(l)

l = np.vstack((a, b, c)).T

l == list(zip(a, b, c)

In [ ]:
# group by consecutive numbers

from operator import itemgetter
from itertools import groupby

def group_by_consecutive(l):
    y = list()
    for k, g in groupby(enumerate(l), lambda x : x[0] - x[1]):
        x = list(map(itemgetter(1), g))
        y.append(x)
    return y


l = [1, 2, 3, 4, 5, 10, 11, 22, 23, 24, 25, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 77, 78, 79, 80]
y = group_by_consecutive(l)

for g in y:
    print(g)

# OS Environment Variables

In [11]:
import os
print(os.environ['DsPath'])

C:\Users\wilson\Desktop\Datasets

In [14]:
path = os.path.expandvars('%DsPath%\StaffLeave\staff leave.csv')
print(path)

C:\Users\wilson\Desktop\Datasets\StaffLeave\staff leave.csv

In [13]:
import pandas as pd
df = pd.read_csv(os.path.expandvars('%DsPath%\StaffLeave\staff leave.csv'))
df.head()

               Name       From         To  Count Type
0  Alex Chung C. C.  24-Jan-18  24-Jan-18    0.5    A
1  Alex Chung C. C.  17-May-18  17-May-18    0.5    A
2  Alex Chung C. C.  19-May-18  30-May-18    7.5    A
3  Alex Chung C. C.  11-Jun-18  11-Jun-18    0.5    A
4  Alex Chung C. C.  14-Jun-18  14-Jun-18    0.5    A